.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 30px;
}
.moveUp{
    bottom: 200px;
    right: 50%;
}
.moveDown{
    bottom: 100px;
    right: 50%;
}
.moveLeft{
    bottom: 100px;
    left: 100px;
}
.moveRight{
    bottom: 100px;
    right: 100px;
}
